/* GNU Freesans */
@font-face {
  font-family: 'FreeSans';
  font-style: normal;
  font-weight: 400;
  src: local('FreeSans'), local('FreeSans'), url(fonts/FreeSans/FreeSans.otf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* GNU Freesans */
@font-face {
  font-family: 'FreeSans';
  font-style: bold;
  font-weight: 700;
  src: local('FreeSans Bold'), local('FreeSansBold'), url(fonts/FreeSans/FreeSansBold.otf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-weight: 400;
  font-family: 'FreeSans';
}

a:active, a:focus, a:hover{
  outline: none;
}

a.out:active, a.out:focus, a.out:hover{
  outline: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'FreeSans';
}

p {
  font-weight: 400;
  font-family: 'FreeSans';
}
